name: CI

on:
  push:
    branches:
      - main
      - 'v**'
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  run-build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Earthly
        uses: earthly/actions-setup@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run build
        run: make build

  run-unit-test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Earthly
        uses: earthly/actions-setup@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests
        run: make test

  run-lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Earthly
        uses: earthly/actions-setup@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run lint
        run: make lint

  run-nfstest:
    name: NFS Integration Test
    needs: [run-build, run-unit-test, run-lint]
    uses: ./.github/workflows/nfstest-factory.yml
    secrets: inherit